// Orange custom scheme – based on light
// ===================================
// Overrides for primary orange theme.

$primary-color: #F68B1F;
$link-color: $primary-color;

$body-background-color: #ffffff;
$body-text-color: #333333;
$body-heading-color: #222222;

$search-background-color: #f8f9fa;
$sidebar-background-color: #f8f9fa;
$code-background-color: #f4f4f4;